body{
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.container{
    display: flex;
    justify-content: space-between;
}

header{
    padding: 10px 0;
}

#scarecrow{
    width: 100%;
    text-align: center;
}

#scarecrow img{
    width: 70%;
    margin: 0 auto;
}

#message{
    width: 100%;
    text-align: left;
}

#message h1{
    max-width: 100%;
    padding: 20px 50px;
    line-height: 1.5rem;
}


#message p{
    max-width: 100%;
    padding: 0 50px;
    text-align: justify;
}

#message button{
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    margin: 50px;
    padding: 10px;
    text-align: center;
    border:1px solid #000;
    background-color: #010101;
}

footer{
    font-size: 0.7rem;
    color: rgba(0, 0, 0, .5);
    text-align: center;
}